
body {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAiIGhlaWdodD0iMzAiPgo8ZGVmcz4KPHJlY3QgaWQ9InIiIHdpZHRoPSIzMCIgaGVpZ2h0PSIxNSIgZmlsbD0iI2JiMDg1ZiIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZT0iIzdhMDU0ZCI+PC9yZWN0Pgo8ZyBpZD0icCI+Cjx1c2UgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8dXNlIHk9IjE1IiB4bGluazpocmVmPSIjciI+PC91c2U+Cjx1c2UgeT0iMzAiIHhsaW5rOmhyZWY9IiNyIj48L3VzZT4KPHVzZSB5PSI0NSIgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8L2c+CjwvZGVmcz4KPHVzZSB4bGluazpocmVmPSIjcCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMjUpIHNrZXdZKDQwKSI+PC91c2U+Cjx1c2UgeGxpbms6aHJlZj0iI3AiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMwIDApIHNrZXdZKC00MCkiPjwvdXNlPgo8L3N2Zz4=");
    padding: 0%;
    box-sizing: border-box;
}
.container {
    margin: auto;
    height: 110vh;
    background: rgb(255, 230, 230);
    justify-content: center;
}
.top {
    margin: auto;
    margin-top: -40px;
    background:  rgb(253, 203, 203);
}
.logo {
    margin: auto;
    position: relative;
    align-content: center;
    width: 250px;
    height: auto;
}
.logo-text {
    margin: auto;
    margin-left: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.raw-logo {
    margin: auto;
    align-self: center;
    width: 250px;
    height: auto;
}
.logo-top {
    margin: auto;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    color: rgba(48, 57, 82,1.0);
}
.logo-bottom {
    margin: auto;
    margin-top: -15px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    color: rgba(48, 57, 82,1.0);
}
.navbar {
    margin: auto;
    margin-top: -50px;
}
.nav-links {
    margin: auto;
    padding: 0%;
    text-align: center;
}
.nav-links li {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
    margin: 15px;
    list-style: none;
    display: inline-block;
}
.make-order {
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
.order-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #ffeaa7;
    font-weight: bolder;
    margin: auto;
    border-radius: 20px;
    border: none;
    outline-style: none;
    background: #d63031;
    width: 120px;
    height: 50px;
    box-shadow: 3px 3px 3px  rgba(207, 86, 86, 0.753);
}

.order-btn:active {
    background: #a02323;
    transform: scale(0.95);
    text-shadow: 2px 2px 6px #fff8e0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.order-builder {
    background-color:  #8d1414;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}
.order-builder span {
    color: #ffeaa7;
    font-family: 'Raleway', sans-serif;

}
.order-builder .logo {
    margin-top: -50px;
}
.logo-border {
    width: 50%;
    margin-top: -40px;
    background: #ffeaa7;
}
.legend {
    margin: auto;
    margin-bottom: -15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    color: #ffeaa7;
}
.qty{
    text-align: end;
}
.legend-border {
    background: #ffeaa7;
}
.order-products {
    margin-top: 20px;
}
.product {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #ffeaa7;
    display: grid;
    grid-template-columns: repeat(4,auto);
}
.qty-btn button {
    text-align: center;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    background: none;
    color: #ffeaa7;
    outline-style: none;
    border: 2px solid #ffeaa7;
    border-radius: 50%;
}
.qty-btn button:active {
    transform: scale(0.95);
}
.qty-display {
    margin: auto;
    margin-right: -1px;
    border-radius: 10px;
    padding: 0%;
    width: 30px;
    height: 30px;
    background: cornsilk;
    text-align: center;
}
.qty-display input {
    font-family: sans-serif;
    background: none;
    border: none;
    width: 80%;
    margin-top: 7px;
    text-align: center;
    outline-style: none;
}
.total-display {
    font-family: 'Raleway', sans-serif;
    width: 50%;
    color: #ffeaa7;
    display: grid;
    grid-template-columns: auto auto;
}
.total-display p {
    font-size: 25px;
    margin-left: -20px;
    margin-top: 25px
}
.order-submit {
    margin: auto;
    text-align: center;
}
.order-submit button {
    width: 80px;
    height: 30px;
    background: none;
    border: 2px solid #ffeaa7;
    border-radius: 20px;
    outline-style: none;
    color: #ffeaa7;
    margin: auto;
}
.order-submit button:active {
    transform: scale(0.95);
}