
body {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAiIGhlaWdodD0iMzAiPgo8ZGVmcz4KPHJlY3QgaWQ9InIiIHdpZHRoPSIzMCIgaGVpZ2h0PSIxNSIgZmlsbD0iI2JiMDg1ZiIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZT0iIzdhMDU0ZCI+PC9yZWN0Pgo8ZyBpZD0icCI+Cjx1c2UgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8dXNlIHk9IjE1IiB4bGluazpocmVmPSIjciI+PC91c2U+Cjx1c2UgeT0iMzAiIHhsaW5rOmhyZWY9IiNyIj48L3VzZT4KPHVzZSB5PSI0NSIgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8L2c+CjwvZGVmcz4KPHVzZSB4bGluazpocmVmPSIjcCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMjUpIHNrZXdZKDQwKSI+PC91c2U+Cjx1c2UgeGxpbms6aHJlZj0iI3AiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMwIDApIHNrZXdZKC00MCkiPjwvdXNlPgo8L3N2Zz4=");
    padding: 0%;
    box-sizing: border-box;
}
.container {
    margin: auto;
    height: 110vh;
    background: rgb(255, 230, 230);
    justify-content: center;
}
.top {
    margin: auto;
    margin-top: -40px;
}
.logo {
    margin: auto;
    position: relative;
    align-content: center;
    width: 250px;
    height: auto;
}
.logo-text {
    margin: auto;
    margin-left: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.raw-logo {
    margin: auto;
    align-self: center;
    width: 250px;
    height: auto;
}
.logo-top {
    margin: auto;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    color: rgba(48, 57, 82,1.0);
}
.logo-bottom {
    margin: auto;
    margin-top: -15px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    color: rgba(48, 57, 82,1.0);
}
.navbar {
    margin: auto;
    margin-top: -20px;
}
.nav-links {
    margin: auto;
    padding: 0%;
    text-align: center;
}
.nav-links li {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
    margin: 15px;
    list-style: none;
    display: inline-block;
}
.make-order {
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
.order-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #ffeaa7;
    font-weight: bolder;
    margin: auto;
    border-radius: 20px;
    border: none;
    outline-style: none;
    background: #d63031;
    width: 120px;
    height: 50px;
    box-shadow: 3px 3px 3px  rgba(207, 86, 86, 0.753);
}

.order-btn:active {
    background: #a02323;
    transform: scale(0.95);
    text-shadow: 2px 2px 6px #fff8e0;
}